MYHOSTNAME=mail.example.de
MYSQL_ROOT_PASSWORD=secret
MYSQL_PASSWORD=secret
ROUNDCUBE_MYSQL_ROOT_PASSWORD=secret
ROUNDCUBE_MYSQL_PASSWORD=secret
POSTFIXADMIN_SETUP_PASSWORD=secret
RSPAMD_WEB_PASSWORD=secret
RSPAMD_USE_DKIM=false
RSPAMD_USE_ARC=false
RSPAMD_DKIM_NAME=default
WEB_PASSWORD=secret
ROUNDCUBE_ENABLE_INSTALLER=false
